.toolbar
	h2.toolbar-title RocketMark
	
	.toolbar-actions
		
		.toolbar-action
			img.toolbar-action__arrow(src="icons/arrow-down.svg")
			img.toolbar-action__icon(src="icons/view-grid.svg")
			p.toolbar-action__title Grid
			
		.toolbar-action
			img.toolbar-action__arrow(src="icons/arrow-down.svg")
			img.toolbar-action__icon(src="icons/sort.svg")
			p.toolbar-action__title Sort
			
		.toolbar-action
			img.toolbar-action__icon(src="icons/dots-vertical.svg")
			p.toolbar-action__title More
	
	.search-bar-wrapper
		.search-bar
			input.search-bar__input(type="text")
			img.search-bar__icon(src="icons/search.svg")
			p.search-bar__placeholder Search bookmarks, #tags and $categories...
