.toolbar {
	@extend %clearfix;
	overflow: hidden;
	width: 100%;
	height: 64px;
	color: $color-textColorPrimary;
	background-color: $color-primary;
	box-shadow: $shadow-level-2;

	.toolbar-title {
		float: left;
		margin: 0 16px;
		font-weight: normal;
		font-size: 18px;
		line-height: 64px;
	}

	.search-bar-wrapper {
		overflow: auto;
	}

	.search-bar {
		margin: 16px;
	}

	.toolbar-actions {
		float: right;
	}

	.toolbar-action {
		float: left;
		padding: 20px 10px;
	}
}
